<div class="information" [@slideInOut]>
    <div class="information-header mb-12">
        <div class="information-title d-flex justify-content-center align-items-center font-size-respv">
            Prompt information
        </div>
        <div class="information-time d-flex justify-content-center align-items-center font-size-respv">
            10 months ago
        </div>
    </div> 
    <div class="description mb-12 multiline-ellipsis-3 font-size-respv">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div class="information-footer">
        <div class="information-footer--item d-flex align-items-center">
            <img src="assets/icon/fav-icon.jpg" alt="author">
            <p class="information-author font-size-respv">Digital Art Neverland</p>
        </div>
        <button type="button" class="btn btn-info btn-detail information-footer--item" (click)="openRatingDialog()">Details</button>
    </div>
</div>
