<div class="left-nav-container left-nav" [ngClass]="{ expanded: isExpanded }">
    <!-- <button class="toggle-button" (click)="toggleLeftNav()">Toggle</button> -->
    <nav class="navbar navbar-toggle-btn navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <ul class="nav-items nav-items-toggle" *ngIf="isExpanded">
        <a class="nav-link left-nav-item" href="#!">
            <i class="fa-solid fa-house font-size-icon-respv icon color"></i>
            <span class="font-size-respv">Home</span>
        </a>
        <a class="nav-link left-nav-item" href="#!">
             <i class="fa-regular fa-bell font-size-icon-respv icon color"></i>
            <span class="font-size-respv">Notifications</span>
        </a>
        <!-- Add more menu items here -->

        <!-- <a
            class="nav-link left-nav-item"
            href="#!"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
        >
            <i class="fab fa-twitter font-size-icon-respv icon width color"> </i>
            <li class="font-size-respv">Twitter</li>
        </a> -->

        <a
            class="nav-link left-nav-item"
            href="{{ urlFaceBook }}"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
        >
            <i class="fab fa-facebook-square font-size-icon-respv icon color">
            </i>
            <li class="font-size-respv">Facebook</li>
        </a>

        <a
            class="nav-link left-nav-item"
            href="{{ urlInstagram }}"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
        >
            <i class="fab fa-instagram font-size-icon-respv icon color"> </i>
            <li class="font-size-respv">Instagram</li>
        </a>
        <a
            class="nav-link left-nav-item"
            href="#!"
            placement="bottom"
            tooltip="Voting image pair"
        >
            <i class="fas fa-chart-line font-size-icon-respv icon color"></i>
            <li class="font-size-respv">Voting</li>
        </a>

        <a class="nav-link nav-item left-nav-item">
            <li
                class="font-size-respv"
                href="#!"
            >
           
                {{'home.title' | translate}}
            </li>
            <!-- In your component's template -->
        </a>
    </ul>
</div>
