.container {
  &__item {
    margin-bottom: 20px;
  }

  &__option-button {
    background-image: none;
    background-color: transparent;
    border-width: 1px;
    border-color: #a3a1a1;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 15px;
  }

  &__description {
    font-weight: 500;
  }
  // &__description::first-letter {
  //   font-size: 90px;
  //   line-height: 96px;
  // }

  &__image {
    overflow: hidden;
  }

  &__image-item {
    cursor: pointer;
    transition: transform 1s ease;
    // transition-property: transform;
    // transition-timing-function: cubic-bezier(.4,0,.2,1);
    // transition-duration: 1s;
  }

  &__image-item:hover {
    transform: scale(1.1);
  }

}
